*.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear

# eclipse project files #
.project
.classpath
.idea
.idea/**.*

/.settings
rebel.xml

target/**.*
/target/

applog/**.*
/applog/


config/**.*
/config/

src/main/resources/application.properties

bfg-1.12.12.jar
src/main/resources/application.properties
