*.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear

# eclipse project files #
.project
.classpath
.idea
.idea/**.*

/.settings
rebel.xml

target/**.*
/target/


config/**.*
/config/
