<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
    <typeAliases>
        <package name="com.techmask.ressack.usermanager.domain"/>
        <package name="com.techmask.ressack.resourcemanager.domain"/> 
        <package name="com.techmask.ressack.feedbackmanager.domain"/>         
    </typeAliases>
    <mappers>    	
        <mapper resource="classpath:mappers/UserRepository.xml"/>
        <mapper resource="classpath:mappers/ResourceRepository.xml"/>
        <mapper resource="classpath:mappers/FeedbackRepository.xml"/>
        <mapper resource="classpath:mappers/FlagRepository.xml"/>
    </mappers>
</configuration>